<footer class="footer">
  <div id="footer">
    <div class="container">
      <p class="text-muted">Created by <a href="https://github.com/aynoor/SatckOverflow" target="_blank">Aynoor Saleem</a></p>
    </div>
  </div>
</footer>